<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'>
<html>
<head>
<meta
	http-equiv='Content-Type'
	content='text/html;'>
<title>#{titulo}</title>
</head>
<body>
	<table width='500' border='1' align='center' cellpadding='0' cellspacing='0' bordercolor='#E3E1BA' bgcolor='#FFFFFF'>
		<tr>
			<td><div align='justify'>
					<table width='100%' border='0' cellpadding='10'	cellspacing='0'>
						<tr>
							<td>
								<p>
									<font size='1' face='Verdana, Arial, Helvetica, sans-serif'>
									  Bem vindo a SME!
									  <br> <br>
									  Você recebeu acesso ao sistema: <u><b>
									  #{nomeSistema}
									  </b></u>. 
									  Link de acesso: " 
									  #{urlSistema}.
									  <br> Para concluir o processo de cadastramento voc&ecirc; deve acessar o sistema utilizando o
									  usu&aacute;rio e a senha abaixo:
									  <br>
									</font>
								</p>
								<p>
									<font color='#018C93' size='2' face='Verdana, Arial, Helvetica, sans-serif'>
										<strong>
											<span class='style1'>
												Usu&aacute;rio= #{usuario} <br>
												Senha= #{senha}
											</span>
										</strong>
									</font>
								</p>
								<p>
									<font size='1' face='Verdana, Arial, Helvetica, sans-serif'>
										<strong>Observa&ccedil;&atilde;o</strong>:
										<br> Em seu primeiro acesso, o sistema solicitar&aacute;
										automaticamente a troca da senha. Essa senha &eacute; de sua
										inteira responsabilidade, n&atilde;o devendo ser compartilhada
										com ningu&eacute;m. Lembre-se de que o sistema grava o nome do
										usu&aacute;rio que realizou qualquer opera&ccedil;&atilde;o.
										Caso sua senha seja compartilhada, tudo que for realizado
										utilizando sua senha ser&aacute; tamb&eacute;m de sua
										responsabilidade.
										<br> <br> Em caso de d&uacute;vidas, entre em contato com a SME.
									</font>
								</p></td>
						</tr>
					</table>
				</div></td>
		</tr>
	</table>
</body>
</html>