<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0" metadata-complete="true">
	<display-name>civitas</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<filter>
		<filter-name>FilterControleLogin</filter-name>
		<filter-class>br.com.civitas.arquitetura.seguranca.filter.FilterControleLogin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterControleLogin</filter-name>
		<url-pattern>/processamento/*</url-pattern>
		<url-pattern>/acesso/*</url-pattern>
		<url-pattern>/home.jsf</url-pattern>
	</filter-mapping>
	<!-- 
	<filter>
		<filter-name>registroUnicoFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>registroUnicoFilter</filter-name>
		<url-pattern>/ru/*</url-pattern>
	</filter-mapping>
	-->

	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsf</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsf</location>
	</error-page>
	<servlet>
		<servlet-name>Faces Report</servlet-name>
		<servlet-class> br.com.civitas.arquitetura.report.WriterReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Report</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>
	<!-- Filter para upload de arquivos do primefaces -->
	<filter> 
		<filter-name>primeUploadFilter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>primeUploadFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/vnd.ms-fontobject</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>otf</extension>
		<mime-type>font/opentype</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ttf</extension>
		<mime-type>application/x-font-ttf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/x-font-woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>

</web-app>